<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RLgraph plotting utility</title>

    {% block base_css %}
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rlgraph_plot.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mermaid.css') }}"/>
        {% block css %}
        {% endblock %}
    {% endblock %}


</head>
<body>
    {% block full_navi %}
    <nav id="nav">
        <div class="container">
            <a class="line logo left" href="/">RLgraph plot</a>
            <a class="line menu right button" href="#"><span>Menu</span></a>

            <ul class="nav">
                <li class="menu-ite">
                    <a target="_self" href="/">Plot</a>
                </li>
            </ul>

        </div>
    </nav>
    {% endblock %}

    {% block header %}
    <header id="header" class="web-section color parallax not-image-statistics">
        <div id="top" class="container">
            <div class="row vertical-align">
                <div class="col-xs-12 col-sm-7 callout">
                    <h2>RLgraph plotting utility</h2>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <div class="image-container center">
                        <h2>RLgraph plot</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}



    {% block content %}

    {% endblock %}


    {% block footer %}
    <footer id="footer">
        <div class="container">
            <ul class="nav bottom-navigation">
                <li>&copy; 2018 rlcore.ai</li>
                <li><a href="dev@rlcore.ai">dev@rlcore.ai</a></li>
            </ul>
            <p class="small">Cambridge, United Kingdom</p>
        </div>
    </footer>
    {% endblock %}

    {% block base_javascript %}
        {#  <script src="https://raw.githubusercontent.com/knsv/mermaid/fb70b9742a22f8673cdd3a8d74fcbbc6ea03b432/dist/mermaidAPI.min.js"></script> #}
        <script src="{{ url_for('static', filename='js/mermaid.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/svg-pan-zoom.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/rlgraph_plot.js') }}"></script>
        {% block javascript %}
        {% endblock %}
    {% endblock %}


</body>
</html>